.Main-chat
  .Main-chat__group--info
    .Main-chat__group--info--left
      %p.Group--name
        = @group.name
      %ul.Group--member
        %p Member :
        - @group.users.each do|user|
          %li=user.name

    = link_to 'Edit', edit_group_path(@group), class: "Main-chat__group--info--right" 

  .Main-chat__messages--list
    = render @messages

  .Main-chat__messages--form
    = form_with model: [@group, @message], html: {class: "Input-message__form"}, local: true do |f|
      .Input-message__form--left
        = f.text_field :text, placeholder: "type a message", class: "Input-message__form--left"
        = f.label :image, class: 'Input-message__form--icon' do
          = icon('far fa-image fa-2x', 'image')
          = f.file_field :image
      = f.submit 'Send', class: "Input-message__btn"
